<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8 ">
    <title>Meteo Welcome</title>
    <link type="text/css" href="static/css/style.css" rel="stylesheet" />
</head>
<body>
    <h1>Meteo</h1>
    <p>Веб-приложение для <b>обработки, записи и отображения</b> результатов измерения параметров окружающей среды.</p>   
    <h2>Основные функции</h2>    
        <ol>
        <li> Приём данных от клиента</li>
        <li> Запись результатов измерений в базу данных <acronym title="Round-robin Database">RRD</acronym></li>
        <li> Демонстрация графиков на большом временном промежутке</li>
        <li> Отображение данных в реальном времени</li>
    </ol>

    <hr />
    <h2>Ссылки</h2>    
        <ul>
        <li> Приложение принимает и обрабатывает данные в формате json. Адрес для отправки пакетов данных с клиента: <a href="http://10.11.12.88:5000/meteo/getdata">127.0.0.1:3000/meteo/register</a></li>
        <li> Результаты измерений записываются в базу данных, а затем отображаются в виде графиков, доступных по адресу: <a href="http://10.11.12.88:5000/meteo/graph">127.0.0.1:3000/meteo/graph</a></li>
        <li> Отображение результатов измерений в реальном времени производится по адресу: <a href="http://10.11.12.88:5000/meteo/realtime">127.0.0.1:3000/meteo/realtime</a></li>
        <li> Текущий статус соединения и конфигурации доступны по адресу: <a href="http://10.11.12.88:5000/meteo/status">127.0.0.1:3000/meteo/status</a></li>
        </ul>
    <hr />
</body>
</html>