<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8 ">
    <title>Welcome to SenseHome!</title>
    <link type="text/css" href="static/css/style.css" rel="stylesheet" />
</head>
<body>
    <h1>SenseHome</h1>
    <p>Main page of <b>SenseHome</b> a project which brings all your home sensors' data anywhere you want it to be</p>   
    <h2>Main functions:</h2>    
        <ol>
        <li> Gathering data from multiple sensors</li>
        <li> Writing data to an <acronym title="Round-robin Database">RRD</acronym></li> at your hub (tested on raspberry Pi)
        <li> Data visualization</li>
    </ol>

    <hr />
    <h2>Useful links</h2>    
        <ul>
        <li> Navigation links will be added soon </li>
        </ul>
    <hr />
</body>
</html>